.joystick-area {
  width: 100px;
  height: 100px;
  background-color: #0000002f;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5),
    inset 0 0 2cap 0 rgba(0, 0, 0, 0.234);
  border: 2px solid white;
  z-index: 1000;
}

.tap-area {
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
